<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fpt.provipluxurylimited.challengefocus">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_clock_deadline"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChallengeFocus">
        <activity android:name=".splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".authen.AuthenticationActivity"></activity>
        <activity android:name=".profile.feedback.FeedbackActivity" />
        <activity android:name=".challenge.detail.DetailChallengeActivity" />
        <activity
            android:windowSoftInputMode="adjustResize"
            android:name=".MainActivity">
        </activity>
    </application>

</manifest>